html {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png);
    display: inline-block;
    text-align: center;
}

#title {
    width: 450px;
    height: 30px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-bottom: 0px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#title h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 6px;
    top: 35%;
    width: 100%;
    text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

#instructions {
    width: 450px;
    height: 320px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#instructions p {
    color:white;
    
}

#numberBox {
    width: 195px;
    height: 100px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-top: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

h1 #numberInBox {
    font-size: 80px;
    display: flex;
    justify-content: center;
    
}

#winLoss {
    width: 195px;
    height: 100px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    float: left;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#winLoss p {
    font-size: 30px;
    text-align: center;
}

#winLoss loss {
    font-size: 30px;
    text-align: center;
}

#winLoss win {
    font-size: 30px;
    text-align: center;
}

#gemBox {
    width: 450px;
    height: 50px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    clear: both;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#gemBox img {
    width: 100px;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#scoreBox {
    width: 450px;
    height: 50px;
    background-color: orange;
    padding: 25px;
    margin: 25px;
    margin-top: 0px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#scoreBox  h1 {
    font-size: 20px;
}

p #score {
    font-size: 20px;
}

.gem {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}